.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.bg-login {
  background: url("../public/background.jpg");
  height: 100vh;
  background-size: cover;
}

/* Media Queries */
@media (max-width: 1200px) {
  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (max-width: 992px) {
  .col-md-6 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0 15px;
  }

  .card {
    margin-bottom: 20px;
  }

  .card-body {
    padding: 15px;
  }

  .card-footer {
    padding: 10px;
  }

  .btn {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .container {
    padding: 0 10px;
  }

  .card {
    margin-bottom: 15px;
  }

  .card-body {
    padding: 10px;
  }

  .card-footer {
    padding: 5px;
  }

  .btn {
    font-size: 12px;
  }
}
